<div style="position: absolute; left: 30px; right: 30px; top: 70px; background:green ">

    <div class="info " style="position: absolute; left: 300px; right: 300px; top: 70px; text-align: center; ">
        <a href="http://potree.org " target="_blank ">potree.org</a><br> Point cloud courtesy of <a href="http://prologuesystems.com/ " target="_blank ">Prologue Systems</a>. (36M points)
    </div>

    <!-- INFOS / STATS -->
    <div id="lblNumVisibleNodes " class="info " style="position: absolute; left: 10px; top: 80px; width: 400px; color:white "></div>
    <div id="lblNumVisiblePoints " class="info " style="position: absolute; left: 10px; top: 100px; width: 400px; color:white "></div>
    <div id="lblMessage " class="info " style="position: absolute; left: 10px; bottom: 0px; width: 400px; color:white "></div>

    <div id="tools" style="position: fixed; width: 400px; bottom: 10px; right: 10px">
        <img src="potree/resources/icons/earth_controls_1.png" ng-click="vm.useEarthControls()" title="Earth Controls" />
        <img src="potree/resources/icons/fps_controls.png" ng-click="vm.useEarthControls()" title="Fly Camera" />

    </div>
    <div id="renderArea"></div>
    <!--

    <script src="potree/js/viewer.js"></script>
-->
</div>