<div ng-cloak>
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <md-button aria-label="Go Back">
                <a href="#/">
                    <md-icon class="material-icons md-light md-48">chevron_left</md-icon>
                    voltar
                </a>
            </md-button>
            <h2 class="md-flex"></h2>
        </div>
    </md-toolbar>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="80" layout="column">
            <md-card>
                <md-card-header>
                    <md-card-avatar>
                        <md-icon class="md-avatar-icon" md-svg-icon="img/icons/menu.svg"></md-icon>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">Title</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content>
                    <div layout="column" style="height:500px" ng-cloak>
                        <div class="doc-demo-content doc-content">
                            <div flex layout="column" style="z-index:1">
                                <div layout="column" layout-padding="" ng-cloak="" class="inputdemoIcons">
                                    <br>
                                    <md-content class="md-no-momentum">
                                        <md-input-container class="md-icon-float md-block">
                                            <!-- Use floating label instead of placeholder -->
                                            <label>Name</label>
                                            <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
                                            <input ng-model="user.name" type="text">
                                        </md-input-container>

                                        <md-input-container md-no-float="" class="md-block">
                                            <md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon>
                                            <input ng-model="user.phone" type="text" placeholder="Phone Number">
                                        </md-input-container>

                                        <md-input-container class="md-block">
                                            <!-- Use floating placeholder instead of label -->
                                            <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
                                            <input ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true">
                                        </md-input-container>

                                        <md-input-container md-no-float="" class="md-block">
                                            <input ng-model="user.address" type="text" placeholder="Address">
                                            <md-icon md-svg-src="img/icons/ic_place_24px.svg" style="display:inline-block;"></md-icon>
                                        </md-input-container>

                                        <md-input-container class="md-icon-float md-icon-right md-block">
                                            <label>Donation Amount</label>
                                            <md-icon md-svg-src="img/icons/ic_card_giftcard_24px.svg"></md-icon>
                                            <input ng-model="user.donation" type="number" step="0.01">
                                            <md-icon md-svg-src="img/icons/ic_euro_24px.svg"></md-icon>
                                        </md-input-container>
                                    </md-content>
                                </div>
                            </div>
                        </div>
                    </div>


                </md-card-content>
            </md-card>
        </div>
    </md-content>
</div>