<div ng-cloak layout-gt-sm="row" layout="column">

    <div flex-gt-sm="50" flex>

        <md-toolbar layout="row" class="md-hue-3">
            <div class="md-toolbar-tools">
                <span>Normal</span>
            </div>
        </md-toolbar>

        <md-content>
            <md-list flex>
                <md-subheader class="md-no-sticky">{{vm.books.length}}</md-subheader>
                <md-divider></md-divider>
                <md-list-item class="md-3-line" ng-repeat="book in vm.books" ng-click="null">
                    <img ng-src="{{book.face}}?{{$index}}" class="md-avatar" alt="{{todo.who}}" />
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ book.who }}</h3>
                        <h4>{{ book.what }}</h4>
                        <p>{{ book.notes }}</p>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
                <md-divider></md-divider>


                <md-subheader class="md-no-sticky">Avatar with Secondary Action Icon</md-subheader>
                <md-list-item ng-repeat="person in vm.people" ng-click="vm.goToPerson(person.name, $event)" class="noright">
                    <img alt="{{ person.name }}" ng-src="{{ person.img }}" class="md-avatar" />
                    <p>{{ person.name }}</p>
                    <md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>
                    <md-icon md-svg-icon="communication:email" ng-click="vm.doSecondaryAction($event)" aria-label="Send Email" class="md-secondary md-hue-3"></md-icon>
                    <md-icon class="md-secondary" ng-click="vm.doSecondaryAction($event)" aria-label="Chat" md-svg-icon="communication:message"></md-icon>
                </md-list-item>
            </md-list>

        </md-content>
    </div>